<input type="hidden" id="actual-item" />
<div class="row">
    <div class="cell full"><span id="object-to-delete"></span> adındaki nesne silinecek, emin misiniz?</div>
</div>
<div class="row">
    <div class="cell float-right">
        <span id="error" class="error-text">Burda bir hata oluştu.</span>
        <img id="ajax" class="ajax" src="img/ajax-loader.gif" />
        <button id="save-button" type="button">Evet</button>
        <button id="cancel-button" type="button">Hayır</button>
    </div>
</div>

<script type="text/javascript">
    $('body').one($.modal.OPEN, function (event, modal) {
        var data = $("input#actual-item").data("drill")[0];

        initializePage(data);
    });

    $('button#cancel-button').on("click", function (e) {
        $.modal.close();
    });

    $('button#save-button').on("click", function (e) {
        $("span#error").hide();
        $("img#ajax").show();

        tool.Name = $("input#name-box").val();
        tool.Diameter = $("input#diameter-box").val();
        tool.Length = $("input#length-box").val();
        tool.Shank = $("input#shank-box").val();

        var toolInfo = JSON.stringify(tool);
        var result = windowsApp.addDrillBit(toolInfo);

        $("img#ajax").hide();

        if (result == "OK") {
            $("span#error").hide();
            refreshPage("drillbits");

            $.modal.close();
        }
        else {
            $("span#error").text(result);
            $("span#error").show();
        }
    });

    function initializePage(data) {
        $("span#object-to-delete").text(data.Name);
    }
</script>
