<input type="hidden" id="actual-item" />

<div class="row">
    <div class="cell left">İsim</div>
    <div class="cell right"><input id="name-box" type="text" value="" /></div>
</div>
<div class="row">
    <div class="cell left">Çap</div>
    <div class="cell right"><input id="diameter-box" type="number" step="0.10" value="" /></div>
</div>
<div class="row">
    <div class="cell left">Uzunluk</div>
    <div class="cell right"><input id="length-box" type="number" step="0.01" value="" /></div>
</div>
<div class="row">
    <div class="cell left">Shank</div>
    <div class="cell right"><input id="shank-box" type="number" step="0.01" value="" /></div>
</div>

<script type="text/javascript">
    $('body').one($.modal.OPEN, function (event, modal) {
        var data = $("input#actual-item").data("drill")[0];

        initializePage(data);
    });

    function initializePage(data) {
        $("input#name-box").val(data.Name);
        $("input#diameter-box").val(data.Diameter);
        $("input#length-box").val(data.Length);
        $("input#shank-box").val(data.Shank);
    }
</script>
