<div id="connections-content" class="tab-content" tabindex="-1">
    <div class="header">Com Port Bağlantısı <img src="img/comport-icon.png" /></div>
    <select class="port">
        <option>COM1</option>
        <option>COM2</option>
        <option>COM3</option>
    </select>
    <select class="baud">
        <option>300</option>
        <option>1200</option>
        <option>2400</option>
        <option>4800</option>
        <option>9600</option>
        <option>14400</option>
        <option>19200</option>
        <option>28800</option>
        <option>38400</option>
        <option>57600</option>
        <option>115200</option>
        <option>230400</option>
    </select>
    <input type="button" value="Bağlan" />
    <span>Veri akışı:</span>
    <textarea>Ex: 235:2656</textarea>
</div> 