<div id="drillbits-content" class="tab-content" tabindex="-1">
    <div class="header">Matkap Uçları <img src="img/comport-icon.png" /></div>
    <div class="main">
        <table>
            <tr>
                <th>#</th>
                <th>Ad</th>
                <th>Çap</th>
                <th>Uzunluk</th>
                <th>Durum</th>
                <th>İşlemler</th>
            </tr>
            <tr>
                <td>1</td>
                <td>HSS Co5 2mm Altın Seri</td>
                <td>2.00mm</td>
                <td>50mm</td>
                <td>Boşta</td>
                <td>Düzenle | Sil</td>
            </tr>
            <tr>
                <td>1</td>
                <td>HSS Co5 2mm Altın Seri</td>
                <td>2.00mm</td>
                <td>50mm</td>
                <td>Boşta</td>
                <td>Düzenle | Sil</td>
            </tr>
            <tr>
                <td>1</td>
                <td>HSS Co5 2mm Altın Seri</td>
                <td>2.00mm</td>
                <td>50mm</td>
                <td>Boşta</td>
                <td>Düzenle | Sil</td>
            </tr>
            <tr>
                <td>1</td>
                <td>HSS Co5 2mm Altın Seri</td>
                <td>2.00mm</td>
                <td>50mm</td>
                <td>Boşta</td>
                <td>Düzenle | Sil</td>
            </tr>
            <tr>
                <td>1</td>
                <td>HSS Co5 2mm Altın Seri</td>
                <td>2.00mm</td>
                <td>50mm</td>
                <td>Boşta</td>
                <td>Düzenle | Sil</td>
            </tr>
        </table>
    </div>
</div>