<div id="drillbits-content" class="tab-content" tabindex="-1">
    <div class="header">Matkap Uçları <img src="img/comport-icon.png" /></div>
    <div class="main">
        <table id="drillbits">
            <tr>
                <th>#</th>
                <th>Ad</th>
                <th>Çap</th>
                <th>Uzunluk</th>
                <th>Durum</th>
                <th>İşlemler</th>
            </tr>
        </table>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            var drillbits = JSON.parse(windowsApp.getDrillBits());
            var index, len;

            for (index = 0, len = drillbits.length; index < len; index++) {
                var item = drillbits[index];

                var template = "<tr>" +
                                    "<td>" + item.ID + "</td>" +
                                    "<td>" + item.Name + "</td>" +
                                    "<td>" + item.Diameter + "mm</td>" +
                                    "<td>" + item.Length + "mm</td>" +
                                    "<td>" + "Boşta" + "</td>" +
                                    "<td><a class=\"edit\" id=\"edit-" + item.ID + "\" href=\"#\">Düzenle</a> | <a class=\"delete\" id=\"delete-" + item.ID + "\" href=\"#\">Sil</a></td>" +
                                "</tr>";

                $("table#drillbits").append(template);
            }

            $("td a.edit").on("click", function (e) {
                alert("Edit tıklandı.");
            });

            $("td a.delete").on("click", function (e) {
                alert("Delete tıklandı.")
            });
        });
    </script>
</div>