body { background-color: #2d2d30; color: #fff; font-family: Tahoma; font-size: 11px; margin: 0; padding: 0; overflow: hidden; overflow-y: hidden; overflow-x: hidden;
    cursor: default;
}
div { display: block; 
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
img { padding: 0px; margin: 0px; border: none; }
.top {
    height: 62px;
    width: 100%;
    position: relative;
}
.top .title { color: #929292; position: absolute; height: 31px; line-height: 31px; left: 5px; top: 0px; }
.top .title img { width: 20px; height: 20px; vertical-align: top; margin: 6px 5px; }
.top .menu { margin: 0px; padding: 0px; list-style: none; height: 20px; line-height: 20px; position: absolute; bottom: 10px; left: 5px; overflow: hidden; }
.top .menu li { float: left; display: block; height: 20px; line-height: 20px; padding: 0px 10px; cursor: default; border: 1px solid transparent; }
.top .menu li:hover { background-color: #343436; }

.top .control { height: 26px; position: absolute; right: 0px; top: 0px; line-height: 26px; }
.top .control div { float: left; height: 26px; width: 34px; background-repeat: no-repeat; }
.top .control div:hover { background-color: #46464a; }

.top .control .close { background-image: url('../img/close.png'); background-position: 7px 3px; }
.top .control .close:hover { background-image: url('../img/close-hover.png'); }

.top .control .maximize { background-image: url('../img/maximize.png'); background-position: 7px 3px; }
.top .control .maximize:hover { background-image: url('../img/maximize-hover.png'); }

.top .control .restore { background-image: url('../img/restore.png'); background-position: 7px 3px; }
.top .control .restore:hover { background-image: url('../img/restore-hover.png'); }

.top .control .minimize { background-image: url('../img/minimize.png'); background-position: 7px 3px; }
.top .control .minimize:hover { background-image: url('../img/minimize-hover.png'); }

.spacer { height: 3px; width: 100%; background-color: #46464a; }

.left-bar {
	width: 225px;
	background-color: #2d2d30;
	position: absolute;
	bottom: 0px;
	top: 65px;
}
.main-bar {
	position: absolute;
	left: 225px;
	right: 225px;
	top: 69px;
	bottom: 0px;
	background-color: #2d2d30;
}
.right-bar {
	width: 225px;
	background-color: #2d2d30;
	position: absolute;
	right: 0px;
	bottom: 0px;
	top: 65px;
}

.menu-btn { height: 48px; width: 217px; margin: 4px 4px 0px 4px; background-color: #39393d; position: relative; line-height: 48px; text-indent: 20px; font-weight: bold; cursor: default; }
.menu-btn img { position: absolute; right: 0px; top: 0px; }
.menu-btn:hover { background-color: #4d4d4f; }

.menu-pop { margin: 4px 4px 0px 4px; background-color: #39393d; padding: 4px; display: none; }
.menu-pop .header { background-color: #434348; text-align: center; margin-bottom: 4px; line-height: 20px; height: 20px; overflow: hidden; font-weight: bold; }
.bar-h { clear: both; line-height: 20px; height: 20px; text-indent: 10px; position: relative; }
.range-h { clear: both; line-height: 24px; height: 24px; }
.range-h img { width: 24px; height: 24px; margin: 0; padding: 0; vertical-align: top; cursor: pointer; }

.bar {  background: linear-gradient(to right, rgba(30,170,252,1) 0%, rgba(55,240,245,1) 100%);
        height: 16px; width: 150px; 
        border: 1px solid gray;
        margin: 1px 0px 1px 4px;
        float: right;
}

.bar-overlay { height: 16px; width: 75px; max-width: 150px; position: absolute; top: 1px; right: 1px; border-top: 1px solid gray; border-bottom: 1px solid gray; overflow: hidden; }
.bar-overlay img { float: left; }
.bar-overlay .remaining { background-color: #434348; overflow: hidden; height: 16px; line-height: 16px; display: block; }

input[type=range] {
  -webkit-appearance: none;
  width: 155px;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  border-top: 2px solid #4a4a4c;
  border-bottom: 2px solid #2d2d30;
  margin-top: -7px;
}

input[type=range]::-webkit-slider-thumb {
  border: 1px solid #000000;
  height: 10px;
  width: 20px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -6px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #367ebd;
}

.menu-pop .row { clear: both; position: relative; width: 100%; height: 27px; margin: 2px 0px; }
.menu-pop .row img { width: 27px; height: 27px; vertical-align: top; margin: 0px; position: absolute; top: 0px; left: 5px; }
.menu-pop .row span { 
    color: #02c0ef; position: absolute; bottom: 7px; left: 37px; 
    font-weight: bold;
}
.menu-pop .row .coordinate { 
    background-color: #2e2e32; 
    border: 1px solid #2b2b2e; 
    border-radius: 3px; 
    text-align: right; 
    height: 20px;
    position: absolute; 
    right: 0px; 
    top: 4px; 
    width: 150px;
    font-family: Consolas;
    font-size: 15px;
    color: #02c0ef;
    line-height: 20px;
    padding-right: 5px;
}
.menu-pop .row .ref-all-btn {
    width: 90px;
    height: 20px;
    background-color: #02c0ef;
    border: 1px solid #0088aa;
    font-weight: bold;
    text-shadow:
    -1px -1px 0 #0088aa,
    1px -1px 0 #0088aa,
    -1px 1px 0 #0088aa,
    1px 1px 0 #0088aa; 
    text-align: center;
    line-height: 20px;
    right: 0px;
    top: 4px;
    position: absolute;
    cursor: default;
}
.menu-pop .row .ref-all-btn:hover { background-color: #71e0fb; }
.menu-pop .row .ref-all-btn:active { background-color: #0088aa; }

.joystick-h { min-height: 200px; position: relative; }

.touch-h { transform: rotate(45deg); position: relative; width: 152px; height: 152px; overflow: hidden; clear: both; left: 28px; top: 20px; }

.hover-circle { 
    width: 108px; height:108px; border-radius: 50%; position: absolute; top: 20px; left: 20px; 
    background: -webkit-linear-gradient(left, rgba(34,34,34,1) 0%, rgba(29,29,29,1) 25%, rgba(0,191,255,1) 47%, rgba(47,184,242,1) 76%, rgba(33,222,255,1) 100%);
    background: linear-gradient(to right, rgba(34,34,34,1) 0%, rgba(29,29,29,1) 25%, rgba(0,191,255,1) 47%, rgba(47,184,242,1) 76%, rgba(33,222,255,1) 100%);
    transform: rotate(-45deg);
    opacity: 0.5;
}
.hc-inner {
    background: linear-gradient(to right, rgba(34,34,34,1) 0%, rgba(29,29,29,1) 40%, rgba(255,64,13,1) 54%, rgba(255,18,29,1) 84%, rgba(255,117,69,1) 100%);
}

.base-circle { width: 102px; height: 102px; border-radius: 50%; position: absolute; top: 23px; left: 23px; background-color: #1f1f23; }

.inner-base-circle {
    width: 66px;
    height: 66px;
    border-radius: 50%;
    position: absolute;
    top: 18px;
    left: 18px;
    background-color: #1f1f23;
}

.touch {
  width: 72px;
  height: 72px;
  background-color: #2d2d30;
  position: absolute;
}

.inner-touch {
    width: 48px; 
    height: 48px; 
    background-color: #2d2d30;
    position: absolute;
}

.inner-left-touch {
    border-radius: 0px 0px 0px 48px;
    top: 52px;
    left: 3px;
}

.inner-right-touch {
    top: 3px;
    left: 52px;
    border-radius: 0px 48px 0px 0px;
}

.arrow {
    width: 0px;
	height: 0px;
    border-top: 5px solid transparent;
    border-left: 8px solid #222222;
    border-bottom: 5px solid transparent;
    position: absolute;
    
}

.top-touch { 

    border-radius: 72px 0px 0px 0px;
    top: 0px;
    left: 0px;
    border-right: 1px solid #181818;
    border-top: 1px solid #181818;
}
.top-touch .arrow { 
    transform: rotate(-135deg);
    top: 25px;
    left: 25px; 
}

.right-touch {
    border-radius: 0px 72px 0px 0px;
    top: 0px;
    left: 76px;
    border-right: 1px solid #181818;
    border-bottom: 1px solid #181818;
}

.right-touch .arrow { 
   transform: rotate(-45deg);
   top: 25px;
   left: 38px;
}
.bottom-touch {
    border-radius: 0px 0px 72px 0px;
    top: 76px;
    left: 76px;
    border-left: 1px solid #181818;
    border-bottom: 1px solid #181818;
}

.bottom-touch .arrow {
    transform: rotate(45deg);
    top: 38px;
    left: 38px;
}
.left-touch {
    border-radius: 0px 0px 0px 72px;
    top: 76px;
    left: 0px;
    border-top: 1px solid #181818;
    border-left: 1px solid #181818;
}
.left-touch .arrow {
    transform: rotate(135deg);
    top: 37px;
    left: 26px;
}
.touch:hover {
    background: radial-gradient(circle, rgba(58,181,233,1) 0%, rgba(137,255,254,1) 46%, rgba(63,210,255,1) 81%, rgba(0,174,255,1) 100%);
    cursor: default;
}
.touch:active {
    background: radial-gradient(circle, rgba(58,181,233,1) 0%, rgba(58,190,252,1) 10%, rgba(5,155,201,1) 71%, rgba(20,98,142,1) 100%);
    cursor: default;
}

.inner-left-touch:hover {
    background: linear-gradient(225deg, rgba(255,64,13,1) 0%, rgba(255,64,13,1) 19%, rgba(255,67,15,1) 53%, rgba(255,18,26,1) 71%, rgba(255,18,26,1) 100%);
    cursor: default;
}

.inner-right-touch:hover {
    background: linear-gradient(45deg, rgba(255,64,13,1) 0%, rgba(255,64,13,1) 19%, rgba(255,67,15,1) 53%, rgba(255,18,26,1) 71%, rgba(255,18,26,1) 100%);
    cursor: default;
}

.inner-right-touch:active {
    background: linear-gradient(45deg, rgba(255,64,13,1) 0%, rgba(255,64,13,1) 56%, rgba(148,3,41,1) 70%, rgba(255,18,26,1) 100%);
}

.inner-left-touch:active {
    background: linear-gradient(225deg, rgba(255,64,13,1) 0%, rgba(255,64,13,1) 56%, rgba(148,3,41,1) 70%, rgba(255,18,26,1) 100%);
}

.sys-menu-member {
    position: relative;
    z-index: 2;
}
.sys-mm-active { background-color: #1b1b1c !important; border: 1px solid #333337 !important; border-bottom: 1px solid #1b1b1c !important; }

.sys-menu-pop {
    background-color: #1b1b1c; 
    border: 1px solid #333337;
    color: #f1f1f1;
    margin: 0px;
    padding: 0px;
    list-style: none;
    list-style-type: none;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1;
    display: none;
    padding: 2px;
}

.sys-menu-pop li {
    line-height: 20px;
    height: 20px;
    min-width: 200px;
    clear: both;
    float: left;
    text-indent: 30px;
    cursor: default;
    position: relative;
}

.sys-menu-pop li:hover {
    background-color: #333334;
}

.sys-menu-pop li img {
    width: 18px;
    height: 18px;
    vertical-align: top;
    position: absolute;
    top: 1px;
    left: 1px;
}
.footer-line {
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 23px;
    background-color: #46464a;
}
.status-bar {
    position: absolute;
    width: 100%;
    height: 23px;
    bottom: 0px;
    background-color: #007acc;
    line-height: 23px;
    text-indent: 5px;
}

.main-bar .tabs {
    height: 17px;
    width: 100%;
    line-height: 17px;
}

.tabs .tab {  height: 17px; color: #fff; position: relative; min-width: 100px; float: left; overflow: hidden; text-indent: 7px; }
.tab img { margin: 0px; padding: 0px; vertical-align: top; position: absolute; top: 0px; right: 0px; display: none; }

.tabs .tab:hover { background-color: #1c97ea; }
.tabs .tab:hover img { display: block; }
.tabs .active { background-color: #3f3f46; }
.tabs .active-focused { background-color: #007acc !important; }


.main-bar .content { border: 1px solid #3f3f46; 
    border-top-width: 2px;
    border-top-style: solid;
    position: absolute; top: 17px; right: 0px; left: 0px; bottom: 0px; 
    background-color: #1e1e1e; 
}
.main-bar .content .tab-content { outline: 0px; width: 100%; height: 100%; position: relative; }
.main-bar .active { border-top-color: #3f3f46; }
.main-bar .active img { display: block; }
.main-bar .active-focused { border-top-color: #007acc !important; }
.main-bar .active-focused img { display: block; }

.content .header { text-indent: 6px; position: absolute; width: 100%; height: 24px; line-height:24px; background-color: #2d2d30; top:0px;}
.content .header img { position: absolute; left: 105px; top:4px; }


.content select {
    -webkit-appearance: none;       
    -moz-appearance: none;    
    background: url('../img/select-dropdown-arrow.png')  no-repeat;         
    background-position: 132px 3px;                
    background-size: 13px 13px; 

    margin: 0px;
    padding: 0px;
    line-height: 16px;
    height: 20px;
    background-color: #2d2d30;
    border: 1px solid #3f3f46;
    color: #fff;
    width: 150px;
    font-family: Tahoma;
    font-weight: normal;
    font-size: 11px;
    outline: none;

    position: absolute;
}

.content select:focus { 
    -webkit-appearance: none;       
    -moz-appearance: none;    
    background: url('../img/select-dropdown-arrow-active.png') no-repeat;       
    background-position: 132px 3px;                
    background-size: 13px 13px; 
    background-color: #2d2d30;
    color: #fff;
}

.content .port { top: 30px; left: 6px; }
.content .baud { top: 56px; left: 6px; }
.content input[type='button'] {
    width: 56px;
    height: 46px;
    
    margin: 0px;
    padding: 0px;

    line-height: 44px;
    font-family: Tahoma;
    font-size: 11px;
    font-weight: normal;
    background-color: #007acc;
    color: #fff;
    border: 1px solid #1597ef;

    position: absolute;
    top: 30px;
    left: 162px;

    outline: none;
    
}

.content input[type='button']:hover { background-color: #1487d5; }
.content input[type='button']:active { background-color: #164462; }
.content span { position: absolute; top: 82px; left: 6px; }

.content textarea { 
    position: absolute; top: 98px; left: 6px; 
    width: 204px;
    height: 150px;
    max-height: 250px;
    max-width: 400px;
    outline: none;
    background-color: #2d2d30;
    border: 1px solid #3f3f46;
    color: #fff;
    font-family: Tahoma;
    font-size: 11px;
    padding: 3px;
}

#start-content .left { background-color: #28282b; width: 290px; height: 100%; position: absolute; top: 0px; left: 0px; }
#start-content .left img { margin: 20px 0px 0px 10px; }
#start-content b { font-family: Tahoma; font-size: 12px; font-weight: bold; position: absolute; top: 100px; left: 20px; }
#start-content ul { margin: 0px; padding: 0px; list-style: none; list-style-type: none; position: absolute; top: 130px; left: 20px; display: block; font-size: 12px; }
#start-content ul .spacer { height: 20px; background-color: transparent; border: 0px; }
#start-content ul a, #start-content ul a:visited { display: block; color: #0097fb; text-decoration: none; line-height: 20px; }
#start-content ul a:hover { color: #88ccfe; }

#start-content .right { background-color: #1e1e1e; width: 100%; height:100%; position: absolute; top: 0px; left: 288px; }
#start-content .right .title { position: absolute; color: white; font-size: 20px; left: 23px; top: 24px; width: auto; height: auto; }
#start-content .right ul { list-style: none; list-style-type: none; top: 62px; left: 25px; padding: 0px; margin: 0px; line-height: 11px; height: auto; width: auto; }
#start-content .right ul li { padding: 0px; margin: -3px 0px 0px 0px; font-size: 11px; line-height:11px; }

#start-content .news-wrapper{ background-color: #1e1e1e; width:100%; height: 100%; margin-top:150px; left: 0px; }
#start-content .news-wrapper .title{ color: white; font-size: 20px; margin: 130px 0px 0px 0px; line-height: 28px; height:28px; }
#start-content .news-wrapper .title img{ float: right; margin-left: 5px; }

#start-content .right .news-hold { width: 300px; height: auto; float: left; margin-left: 24px; margin-top: 44px; background-color: #1e1e1e; margin-right: 25px; }
#start-content .right .news-hold .news-item { font-size: 12px; width: 300px; height: auto; float: left; background-color: #1e1e1e; margin-bottom: 24px; }
#start-content .right .news-hold .news-item .news-header{ color: #0099ff; margin-bottom: 10px; float: left; }
#start-content .right .news-hold .news-item .news-content { color: white; float: left; margin-bottom: 10px; width: auto; height: auto; }
#start-content .right .news-hold .news-item .news-status { color: #3ddb12; float: left; }
#start-content .right .news-hold .news-item .news-date { float:left; color: #a1a1a1; margin-left: 5px; }

